.Login {
  width: 100%;
  height: 100vh;
  background-color: var(--color3);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  margin: 3rem;
  padding: 2rem;

  border-radius: 15px;
  border: 1px solid lightgray;
  width: 25rem;
  background-color: var(--color2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm h3 {
  margin: 10px;
}

.inputLabel {
  margin: 10px;
}

.loginButton {
  margin: 1.3rem;
  padding: 1.3rem;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: var(--color2);
}

.loginButton:hover {
  background-color: var(--color3);
}

.loginInput {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.info-label{
  display: none;
}
