#NyttInnlegg {
  background-color: var(--color3);
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-input {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  resize: none;
}

.publish-button {
  padding: 1.2rem;
  background-color: var(--color2);
  border: 1px solid lightgray;
  border-radius: 5px;
}

.publish-button:hover {
  background-color: lightgray;
}

.attach-button {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.attach-button:hover {
  background-color: lightgray;
}
