#vennesok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sok-resultat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#sok {
  font-size: 1.1rem;

  width: 45%;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
}
